html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}
Body {
    font-family: 'Orelega One', cursive;
    background-image: url(./photo/green.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

#box1{
    
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid #fff;

}

#box2 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    font-size: 35px;


}

#box3 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
    

}

a {
    display:inline;
    padding: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#box4 {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    color: #fff;
}
#box5 {
    border-bottom: 2px solid #fff;
    width: 50%;
    text-align: center;
    margin: 200px;
    height: 175px;
    font-size: 175px;
}

#box6 {
    margin-top: -150px;
    margin-bottom: 300px;
    font-size: 60px;

}

#box7 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 400px;
}
#box8 {
    box-sizing: border-box;
    width: 40%;
    background-image: url(./photo/bread.jpg);
    background-position: center;
    background-size: cover;

}
#box9 {
    padding: 50px;
    box-sizing: border-box;
    width: 60%;
    background-color: black;
    color: white;
}

#box10 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 400px;
  }
 
  #box11 {
      padding: 50px;
      box-sizing: border-box;
      width: 60%;
      background-color: black;
      color: white;
  }
  #box12 {
    box-sizing: border-box;
    width: 40%;
    background-image: url(./photo/yellowapple.jpg);
    background-position: center;
    background-size: cover;

}
  #box13 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 400px;
  }
  #box14 {
      box-sizing: border-box;
      width: 40%;
      background-image: url(./photo/pasta.jpg);
      background-position: center;
      background-size: cover;
  
  }
  #box15 {
      padding: 50px;
      box-sizing: border-box;
      width: 60%;
      background-color: black;
      color: white;
  }
    

  h4 {
      font-size: xx-large;
  }

  p {
      padding-top: 20px;
      font-size: large ;
      
  }